<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ecomhack.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>99B8015B1BE4E8F500AF2A8B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>99B801741BE4E8F500AF2A8B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>99B8017F1BE4E8F500AF2A8B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
